/* body */

body {
  background-color: #131313;
  overflow-x: hidden;
}

/*/////////////////////////// home page////////////////// */

/* navbar  */

@font-face {
  font-family: Montserrat;
  src: url("../Montserrat-Regular.ttf");
  /* src: url("../Montserrat-Medium.ttf"); */
  /* src: url("../Montserrat-Black.ttf"); */
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../Montserrat-Bold.ttf");
  /* src: url("../Montserrat-Medium.ttf"); */
  /* src: url("../Montserrat-Black.ttf"); */
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../Montserrat-Light.ttf");
  /* src: url("../Montserrat-Medium.ttf"); */
  /* src: url("../Montserrat-Black.ttf"); */
}
.navbar {
  background-color: transparent !important;
  padding-top: 40px;
}
.navbar .container-fluid {
  margin: 0 4.5%;
}

.navbar .nav-link{
  font-family: 'Montserrat-light';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 27px;
/* identical to box height */
margin-right:18px;

color: #FFFFFF !important;
}

.navbar .nav-item .active {
  border-bottom:1px solid #ED1D24;;
}


/* welcome section */

#welcomesec {
  /* position: relative; */
  background-image: url('../images/sam-moghadam-khamseh-baII27W6z7k-unsplash.png');
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;

}
#welcomesec .contant {
  margin-left: 75px;
  position: relative;
  top:50%
}

#welcomesec .contant h1 {
  
font-family: 'Montserrat-bold';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;

color: #FFFFFF;


}



#welcomesec .contant .vedio{
  background: #ffffffe9;
border-radius: 50px;
width: fit-content;
padding: 15px 45px;
}

#welcomesec .contant .vedio span{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #3E3E3E;
margin-right: 65px;

}

#welcomesec .socail ul{
display: flex;
/* justify-content: space-around; */
}

#welcomesec .socail ul li{

  margin-right: 40px;
  list-style: none;
  }


/* slider */

/* Why us section */

/* #whyUs { */
/* position: relative; */
/* background-image: url("../images/Vector\ 4.png"); */
/* background-repeat: no-repeat;
  background-size: contain; */
/* height: 100vh; */
/* } */

/* #whyUs .cover {
  position: absolute;
  top: 90px;
} */

#whyUs .whyUs {
  margin-top: 90px;

  /* width: 100%; */
  /* height: 75vh; */
  background-color: #f2f2f2;
  /* text-align: center; */
  box-shadow: 0px 25px 30px rgba(255, 255, 255, 0.2);
}

#whyUs .whyUs .r {
  float: right;
}

#whyUs .whyUs .title .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 60px;
}

#whyUs .whyUs h2 {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 61px;
  /* identical to box height */
  margin-top: 34px;

  color: #000000;
}

#whyUs .whyUs p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;

  color: #000000;
}

#whyUs .whyUs p span {
  color: #dc1c22;
}

#whyUs .whyUs .number {
  text-align: left;
  display: flex;
  justify-content: center;
}
#whyUs .whyUs .number .row {
  width: 90%;
}

#whyUs .whyUs .number h4 {
  font-family: "Montserrat-bold";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 61px;

  color: #000000;
}

#whyUs .whyUs .l {
  position: absolute;
  left: -50%;
}

#whyUs .whyUs .r {
  position: absolute;
  right: -50%;
}

#whyUs .whyUs .number .line {
  width: 122px;
  height: 3px;
  background-color: #000000;
  margin-left: 22px !important;
}
#whyUs .whyUs .number p {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px !important;

  color: #000000;
}

#whyUs .btns {
  text-align: center;
  margin-top: 40px;
}

#whyUs .btns .whitebtn {
  background: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  border-radius: 0px;
  text-align: center;
  padding: 16px 86.8px;
  color: #000000;
  margin-right: 30px;
}

#whyUs .btns .redbtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  border-radius: 0px;

  text-align: center;

  color: #ffffff;
  padding: 16px 55.87px;

  background: #dc1c22;
}

.serves {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 70px;
  padding: 37px;
}

.serves h2 {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 61px;

  color: #000000;
}

.serves p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  /* width: 60%; */
  color: #000000b1;
  margin-top: 30px;
}

#serves .serve1{
  background-image: url('../images/andy-li-CpsTAUPoScw-unsplash.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}

#serves  .contant{
  position: relative;
  top: 50%;
  margin-left: 8%;
}

#serves  .contant h2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 73px;


color: #FFFFFF;
}

#serves  .line{
  width: 50%;
  margin: 15px 3%;
  height: 2px;
  background-color: #ED1D24;
  
}

#serves  p{
  font-family: 'Montserrat-light';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 24px;
width: 55%;
margin-left: 3%;
margin-bottom: 40px !important;


color: #ffffffda;
}

#serves .serve2{
  background-image: url('../images/eleni-afiontzi-gLU8GZpHtRA-unsplash.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}




#serves .serve3{
  background-image: url('../images/rodolfo-cuadros-WNk-f-TnZDw-unsplash.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}


#serves .serve4 {
  background-image: url('../images/gigin-krishnan-PH45mFDrM_8-unsplash.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}



#serves .contant a {
  /* display: inline-block; */
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
text-decoration: none;
color: #FFFFFF;
  margin-left: 3%;

  /* margin-top: 100%; */
}

#serves .contant a .line {
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #DC1C22;
  margin: 0px !important;
  margin-left: 10px !important;
}

#serves .r2 a {
  margin-left: 50% !important;
}

#serves .btns {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#serves .btns button {
  background-color: #fff;
  padding: 13px 85px;
  border-radius: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
}

#portfolio {
  position: relative;
  background-image: url('../images/tim-russmann-d_Ti2olBog8-unsplash.png');
  background-position: 100% 100%;
  background-attachment: fixed;
  padding: 100px 0;

}

#portfolio .portfolio {
  background-color: #f2f2f2;
  text-align: center;
  opacity: 0;
}

#portfolio .portfolio h2 {
  text-align: center;
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;

  color: #000000;
  margin-top: 41px;
}

#portfolio .portfolio p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;
}

#portfolio .portfolio .line {
  width: 30%;
  height: 1px;
  background-color: #dc1c22;
  margin: 25px auto;
}

#portfolio .portfolio .p2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 !important;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}



#portfolio .swiper-container{
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 70px;
  
}

#portfolio .nav-tabs{
  border: none;
  margin: auto !important;
  width:90%;
  
}

#portfolio  .background {
  width: 200px;
  height: 133px;
  background-color: rgba(255, 255, 255, 0.798) !important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px; */
}

#portfolio .companies .swiper-slide  {
  opacity: 0;
}


#portfolio .companies .swiper-slide  .active{
  width: 200px;
  height: 133px;
  border: none !important;
  background-color: #fff !important;
  
  border-radius: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px; */
}

#portfolio .companies .nav-link{
  border: none !important;
}

#portfolio .features {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  }

#portfolio .features .nav-link{
width: 25%;
border: none !important;
text-align: left !important;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
opacity: 0.4;
list-style: circle;

}



  #portfolio .features #nav-tab .active{
opacity: 1;
    
    background-color: transparent ;
    /* margin: 50px; */
  }

  #portfolio .view {
    width: 90%;
    margin:45px auto;
  }

  #portfolio .view img{
    width: 100%;
    

  }

  
#portfolio  .contant h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  color: #cd7b00;
}

#portfolio  .contant .line {
  width: 25%;
  height: 1px;
  background-color: #fff;
  margin-left: 10%;
  margin-bottom: 25px;
}

#portfolio  .contant .p1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

#portfolio  .contant .p2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  width: 80%;

  color: #ffffff;
}

#portfolio  .contant .btns {
  margin-top: 25%;
}

#portfolio  .contant .btn1 {
  border: 1px solid #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
  background-color: transparent;
  padding: 14px 35px;
}

#portfolio  .contant .btn2 {
  background-color: #fff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  padding: 14px 35px;
}




#portfolio .swiper-button-next {
  /* position: fixed; */
  position: absolute;
  /* bottom: 20% !important; */
  top: 80%;

  left:90%;
}
#portfolio .swiper-button-prev {
  position: absolute;
  top: 80%;

  left: 5%;
}

#portfolio .swiper-button-next,
#portfolio .swiper-button-prev {
  /* background-color: red; */
  color: #fff;
}

#portfolio .swiper-button-next:after,
#portfolio .swiper-button-prev:after {
  font-size: 30px !important;
}






#news {
  padding: 100px;
  /* margin-top: 100px; */
  background-image: url('../images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall (1).png');
  background-attachment: fixed;
}
#news .cont {
  width: 90%;
  padding: 12px 0;
}

#news .cont {
  margin: auto;  
  /* background-color: #c4c4c4; */
}


#news .cont:hover {
  transform: scale(1.1);
  transition: 1s;
  
}



#news h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  text-align: center;

  color: #ffffff;
}

#news .line {
  width: 20%;
  height: 1px;
  background-color: #dc1c22;
  margin: 35px auto;
}
#news p {
  width: 70%;
  margin: auto;
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 100px;

  color: #ffffffca;
}

#news p span {
  color: #dc1c22;
}

#news .contant {
  text-align: left !important;
}

#news .img {
  text-align: left !important;
  position: relative;
}

#news .history {
  position: absolute;
  top: 20px;
  left: -20px;
  text-align: left !important;
  width: 147px;
  height: 83px;
  background: #ffffff;
  padding-left: 20px;
  border-radius: 10px 0px 0px 10px;
}

#news .history h4 {
  font-family: "Montserrat-bold";
  font-style: normal;
  /* font-weight: 500; */
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  margin-top: 10px;

  color: #000000;
}

#news .history h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

#news .contant h6 {
  font-family: "Montserrat-light";

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffffe7;
  margin: 15px 0;
}

#news .contant h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  line-height: 43px;
  /* identical to box height */

  color: #ffffff;
}
#news .contant p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 18px;
  width: 100%;

  color: #ffffffa5;
  text-align: left;
  margin-bottom: 30px;
}

#news .contant a {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #ffffffa5;
  text-decoration: none;
}

#news .contant a .line {
  display: inline-block;
  width: 15%;
  height: 1px;
  background-color: #ffffffa5;
  margin: 0px !important;
  margin-left: 10px !important;
}

#news .btns {
  display: flex;
  justify-content: center;
}

#news .btns {
  display: flex;
  justify-content: center;
}

#news .btns .btn1 {
  background-color: #fff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  margin-top: 70px;
  color: #000000;
  padding: 13px 51px;
}

#contact {
  /* margin-top: 100px; */
  /* border: 0.7px solid #ffffff; */
  background-color: #1F1E1D;

}

#contact .col-md-5 {
  /* background-image: url("../images/Group\ 146.png"); */
  background-color: #1F1E1D;
  

}
#contact .container-fluid {
  /* margin-left: 55px; */
}
#contact h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;

  color: #ffffff;
  margin: 30px 0;
  margin-bottom: 38px;
}

#contact button {
  /* display: block; */
  border: 1px solid #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
  background-color: transparent;
  padding: 13px 29px;
  margin-bottom: 40px;
  margin-right: 40px;
}

#contact h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;

  color: #ffffff;
  margin-bottom: 40px;
}

#contact p {
  /* display: inline-block; */
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;

  color: #ffffffe4;
  margin-bottom: 65px !important;
}

#contact .p1 {
  /* display: inline-block; */
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  width: 80%;

  color: #ffffffe4;
  margin-bottom: 65px !important;
}

#contact svg {
  display: inline-block;
  margin-right: 10px;
  font-family: "Montserrat";
  font-style: normal;
  /* margin-left: 15px; */

  /* line-height: 22px; */

  color: #ffffff;
  /* margin-bottom: 35px; */
}

#contact img{
  width: 100%;
}






#footer {
  
  
  padding-left: 3%;
}

#footer h4{
  
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */
margin-top: 40px;

color: #FFFFFF;


}

#footer .row{
  margin-top: 30px;
}

#footer  ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0px;
}

#footer  ul li {
  list-style: none;
  font-family: 'Montserrat-light';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 150%;
/* identical to box height, or 22px */


color: #FFFFFF;

opacity: 0.6;
}

#footer .social li {
  background-color: #B6070D;
  border-radius: 10px;
  padding: 11px 17px;
  color: #FFF !important;
}

#footer .social li  {
  background-color: #B6070D;
  border-radius: 10px;
  padding: 11px 17px;
  
} 
#footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
  margin: 25px 0;
}

#footer span {
  color: #dc1c22;
}

@media only screen and (max-width: 1440px) {
  .navbar .container-fluid {
    margin: 0 5%;
  }
  .welcome .contant h3 {
    top: 35%;
    font-size: 50px;
  }

  .welcome .contant h1 {
    position: absolute;
    top: 42%;
    /* left: 8%; */
    left: -40%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 122px;
    letter-spacing: 0.1em;

    color: #ffffff;
    /* margin-top: 50px; */
    /* display: none; */
  }

  .welcome .contant .line {
    top: 63%;
  }

  

  #portfolio {
    /* height: 60vh; */
    /* margin-top: 300px; */
  }
  #serves .postion p {
    margin-bottom: 22%;
  }

  #contact .container-fluid {
    margin-left: 20px;
  }

  #software .swiper-button-next {
    /* position: fixed; */
    right: 140px;
  }
  #software .swiper-button-prev {
    left: 50px;
  }

  #contact .container-fluid {
    margin-left: 55px;
  }
  #contact h4 {
    font-size: 25px;
    margin: 25px 0;
  }

  #contact button {
    margin-bottom: 15px;
  }

  #contact h6 {
    font-size: 25px;

    margin-bottom: 15px;
  }

  #contact p {
    font-size: 15px;

    margin-bottom: 15px !important;
  }

  #contact .p1 {
    margin-bottom: 15px !important;
  }

  #contact svg {
    margin-right: 10px;

    font-style: normal;
    margin-left: 0 px;

    /* line-height: 22px; */

    color: #ffffff;
    /* margin-bottom: 35px; */
  }

  #contact .social {
    margin-top: 0px;
  }
}
