/* body */

body {
  background-color: #131313;
  overflow-x: hidden;
  
}

/*/////////////////////////// home page////////////////// */

/* navbar  */

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  /* src: url("../Montserrat-Medium.ttf"); */
  /* src: url("../Montserrat-Black.ttf"); */
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.ttf");
  /* src: url("../Montserrat-Medium.ttf"); */
  /* src: url("../Montserrat-Black.ttf"); */
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.ttf");
  /* src: url("../Montserrat-Medium.ttf"); */
  /* src: url("../Montserrat-Black.ttf"); */
}
.navbar {
  background-color: transparent !important;
  padding-top: 40px;
}
.navbar .container-fluid {
  margin: 0 4.5%;
}

.navbar .nav-link {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  margin-right: 18px;

  color: #ffffff ;
}

.navbar .nav-item .active {
  border-bottom: 1px solid #ed1d24;
  color: #ffffff ;

}


.servesHover{
  background-color: #000000;
  position: fixed;
  height: 100vh;
  /* overflow:scroll; */
  padding: 30px;
  z-index: 9999;
  top: 100px;
  display: none;
  transition:1s !important;
}

.servesHover .head .line{
width: 60px;
height: 1px;
background-color: #DC1C22;
margin-block: 5px;
}

.servesHover .vline{
  height: 570px;
  width: 1px;
  background-color: #fff;
}

.servesHover .head h5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  
  color: #FFFFFF;
  }

  .servesHover li{
    
font-family: 'Montserrat-light';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 18px;

color: #ffffffdf;
margin-top:55px ;
    }

    .servesHover button{
      margin: 45px ;
      background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
border-radius: 2px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.1em;
padding: 14px 35px;

color: #DC1C22;
    }

/* welcome section */

#welcomesec {
  /* position: relative; */
  background-image: url("../images/sam-moghadam-khamseh-baII27W6z7k-unsplash.png");
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;
}
#welcomesec .contant {
  margin-left: 75px;
  position: relative;
  top: 50%;
}

#welcomesec .contant h1 {
  position: relative;
  left: -70%;
  font-family: "Montserrat-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  color: #ffffff;
}

#welcomesec .contant .cont {
  margin-top: 60px;
}

#welcomesec .contant .vedio {
  background: #ffffffe9;
  border-radius: 50px;
  width: fit-content;
  padding: 12px 45px;
  opacity: 0;
}

#welcomesec .contant .vedio h6 {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  margin-top: 11px;
  line-height: 27px;
  /* identical to box height */

  color: #3e3e3e;
  margin-right: 65px;
}

#welcomesec .socail ul {
  display: flex;
  opacity: 0;
  /* justify-content: space-around; */
}

#welcomesec .socail ul li {
  margin-right: 40px;
  list-style: none;
}

#whyUs {
  background-image: url("../images/tim-russmann-d_Ti2olBog8-unsplash (1).png");
  background-attachment: fixed;
  background-position: center center;
  padding: 90px 0;
  
}

#whyUs .whyUs {
  background-color: #f2f2f2;

  box-shadow: 0px 25px 30px rgba(255, 255, 255, 0.2);
}

/* #whyUs .whyUs .r {
  float: right;
} */

#whyUs .whyUs .title .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 60px;
}

#whyUs .whyUs h2 {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 61px;
  /* identical to box height */
  margin-top: 34px;

  color: #000000;
}

#whyUs .whyUs p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;

  color: #000000;
}

#whyUs .whyUs p span {
  color: #dc1c22;
}

#whyUs .whyUs .number {
  text-align: left;
  display: flex;
  justify-content: center;
}
#whyUs .whyUs .number .row {
  width: 90%;
}

#whyUs .whyUs .number h4 {
  font-family: "Montserrat-bold";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 61px;

  color: #000000;
}



#whyUs .whyUs .number .line {
  width: 122px;
  height: 3px;
  background-color: #000000;
  margin-left: 22px !important;
}
#whyUs .whyUs .number p {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px !important;

  color: #000000;
}

#whyUs .btns {
  text-align: center;
  margin-top: 40px;
}

#whyUs .btns .whitebtn {
  background: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  border-radius: 0px;
  text-align: center;
  padding: 16px 86.8px;
  color: #000000;
  margin-right: 30px;
}

#whyUs .btns .redbtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */
  border-radius: 0px;

  text-align: center;

  color: #ffffff;
  padding: 16px 55.87px;

  background: #dc1c22;
}

.serves {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  /* margin-top: 70px; */
  padding: 37px;
}

.serves h2 {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 61px;

  color: #000000;
}

.serves p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  /* width: 60%; */
  color: #000000b1;
  margin-top: 30px;
}

#serves .serve1 {
  background-image: url("../images/andy-li-CpsTAUPoScw-unsplash.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}

#serves .contant {
  position: relative;
  top: 50%;
  margin-left: 8%;
}

#serves .contant h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 73px;

  color: #ffffff;
}

#serves .line {
  width: 50%;
  margin: 15px 3%;
  height: 2px;
  background-color: #ed1d24;
}

#serves p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  width: 55%;
  margin-left: 3%;
  margin-bottom: 40px !important;

  color: #ffffffda;
}

#serves .serve2 {
  background-image: url("../images/eleni-afiontzi-gLU8GZpHtRA-unsplash.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}

#serves .serve3 {
  background-image: url("../images/rodolfo-cuadros-WNk-f-TnZDw-unsplash.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}

#serves .serve4 {
  background-image: url("../images/gigin-krishnan-PH45mFDrM_8-unsplash.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
}

#serves .contant a {
  /* display: inline-block; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 3%;

  /* margin-top: 100%; */
}

#serves .contant a .line {
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #dc1c22;
  margin: 0px !important;
  margin-left: 10px !important;
}

#serves .r2 a {
  margin-left: 50% !important;
}

#serves .btns {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#serves .btns button {
  background-color: #fff;
  padding: 13px 85px;
  border-radius: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
}

#portfolio {
  position: relative;
  background-image: url("../images/tim-russmann-d_Ti2olBog8-unsplash.png");
  background-position: 100% 100%;
  background-attachment: fixed;
  padding: 100px 0;
}

#portfolio .portfolio {
  background-color: #f2f2f2;
  text-align: center;
  opacity: 0;
}

#portfolio .portfolio h2 {
  text-align: center;
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;

  color: #000000;
  margin-top: 41px;
}

#portfolio .portfolio p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  /* width: 60%; */
  color: #000000af;
  margin-top: 30px;
}

#portfolio .portfolio .line {
  width: 30%;
  height: 1px;
  background-color: #dc1c22;
  margin: 25px auto;
}

#portfolio .portfolio .p2 {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  /* width: 60%; */
  color: #000000b1;
  margin-top: 30px;
}

#portfolio .swiper-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 70px;
}



#portfolio .background {
  width: 200px;
  height: 133px;
  background-color: rgba(255, 255, 255, 0.798) !important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px; */
}

#portfolio .companies .swiper-slide {
  opacity: 0;
}

#portfolio .companies .swiper-slide .active {
  width: 200px;
  height: 133px;
  border: none !important;
  background-color: #fff !important;

  border-radius: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px; */
}

#portfolio .nav-tabs {
  border: none;
  margin: auto !important;
  width: 90%;
}

#portfolio .companies .nav-link {
  border: none !important;
}

#portfolio .features {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

#portfolio .features .nav-link {
  width: 25%;
  border: none !important;
  text-align: left !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0.4;
  list-style: circle;
}

#portfolio .features #nav-tab .active {
  opacity: 1;

  background-color: transparent;
  /* margin: 50px; */
}

#portfolio .view {
  width: 90%;
  margin: 45px auto;
}

#portfolio .view img {
  width: 100%;
}

#portfolio .contant h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  color: #cd7b00;
}

#portfolio .contant .line {
  width: 25%;
  height: 1px;
  background-color: #fff;
  margin-left: 10%;
  margin-bottom: 25px;
}

#portfolio .contant .p1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

#portfolio .contant .p2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  width: 80%;

  color: #ffffff;
}

#portfolio .contant .btns {
  margin-top: 25%;
}

#portfolio .contant .btn1 {
  border: 1px solid #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
  background-color: transparent;
  padding: 14px 35px;
}

#portfolio .contant .btn2 {
  background-color: #fff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  padding: 14px 35px;
}

#portfolio .swiper-button-next {
  /* position: fixed; */
  position: absolute;
  /* bottom: 20% !important; */
  top: 80%;

  left: 90%;
}
#portfolio .swiper-button-prev {
  position: absolute;
  top: 80%;

  left: 5%;
}

#portfolio .swiper-button-next,
#portfolio .swiper-button-prev {
  /* background-color: red; */
  color: #fff;
}

#portfolio .swiper-button-next:after,
#portfolio .swiper-button-prev:after {
  font-size: 30px !important;
}

#news {
  padding: 100px;
  /* margin-top: 100px; */
  background-image: url("../images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall (1).png");
  background-attachment: fixed;
}
#news .cont {
  width: 90%;
  padding: 12px 0;
}

#news .cont {
  margin: auto;
  /* background-color: #c4c4c4; */
}

#news .cont:hover {
  transform: scale(1.1);
  transition: 1s;
}

#news h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  text-align: center;

  color: #ffffff;
}

#news .line {
  width: 20%;
  height: 1px;
  background-color: #dc1c22;
  margin: 35px auto;
}
#news p {
  width: 70%;
  margin: auto;
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 100px;

  color: #ffffffca;
}

#news p span {
  color: #dc1c22;
}

#news .contant {
  text-align: left !important;
}

#news .img {
  text-align: left !important;
  position: relative;
}

#news .history {
  position: absolute;
  top: 20px;
  left: -20px;
  text-align: left !important;
  width: 147px;
  height: 83px;
  background: #ffffff;
  padding-left: 20px;
  border-radius: 10px 0px 0px 10px;
}

#news .history h4 {
  font-family: "Montserrat-bold";
  font-style: normal;
  /* font-weight: 500; */
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  margin-top: 10px;

  color: #000000;
}

#news .history h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

#news .contant h6 {
  font-family: "Montserrat-light";

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffffe7;
  margin: 15px 0;
}

#news .contant h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  line-height: 43px;
  /* identical to box height */

  color: #ffffff;
}
#news .contant p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 18px;
  width: 100%;

  color: #ffffffa5;
  text-align: left;
  margin-bottom: 30px;
}

#news .contant a {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #ffffffa5;
  text-decoration: none;
}

#news .contant a .line {
  display: inline-block;
  width: 15%;
  height: 1px;
  background-color: #ffffffa5;
  margin: 0px !important;
  margin-left: 10px !important;
}

#news .btns {
  display: flex;
  justify-content: center;
}

#news .btns {
  display: flex;
  justify-content: center;
}

#news .btns .btn1 {
  background-color: #fff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  margin-top: 70px;
  color: #000000;
  padding: 13px 51px;
}

#contact {
  /* margin-top: 100px; */
  /* border: 0.7px solid #ffffff; */
  background-color: #1f1e1d;
}

#contact .col-md-5 {
  /* background-image: url("../images/Group\ 146.png"); */
  background-color: #1f1e1d;
}

#contact h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;

  color: #ffffff;
  margin: 30px 0;
  margin-bottom: 38px;
}

#contact button {
  /* display: block; */
  border: 1px solid #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
  background-color: transparent;
  padding: 13px 29px;
  margin-bottom: 40px;
  margin-right: 40px;
}

#contact h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;

  color: #ffffff;
  margin-bottom: 40px;
}

#contact p {
  /* display: inline-block; */
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;

  color: #ffffffe4;
  margin-bottom: 65px !important;
}

#contact .p1 {
  /* display: inline-block; */
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  width: 80%;

  color: #ffffffe4;
  margin-bottom: 65px !important;
}

#contact svg {
  display: inline-block;
  margin-right: 10px;
  font-family: "Montserrat";
  font-style: normal;
  /* margin-left: 15px; */

  /* line-height: 22px; */

  color: #ffffff;
  /* margin-bottom: 35px; */
}

#contact img {
  width: 100%;
}

#footer {
  padding-left: 3%;
}

#footer h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  margin-top: 40px;

  color: #ffffff;
}

#footer .row {
  margin-top: 30px;
}

#footer ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0px;
}

#footer ul li {
  list-style: none;
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  color: #ffffff;

  opacity: 0.6;
}

#footer .social li {
  background-color: #b6070d;
  border-radius: 10px;
  padding: 11px 17px;
  color: #fff !important;
}

#footer .social li {
  background-color: #b6070d;
  border-radius: 10px;
  padding: 11px 17px;
}
#footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
  margin: 25px 0;
}

#footer span {
  color: #dc1c22;
}

@media only screen and (max-width: 1440px) {

  
.servesHover .vline{
  height: 450px;
  width: 1px;
  background-color: #fff;
}

.servesHover .head h5{
  font-size: 20px;
  line-height: 25px;
  }

  .servesHover li{
font-size: 15px;
margin-top:25px ;
    }

    .servesHover button{
      margin: 0 20px ;
padding: 14px 20px;
position: relative; 
 top:-30%;

    }
  #welcomesec .contant {
    margin-left: 75px;
    position: relative;
    top: 35%;
  }

  #contact .container-fluid {
    margin-left: 20px;
  }

  #contact .container-fluid {
    margin-left: 55px;
  }
  #contact h4 {
    font-size: 25px;
    margin: 25px 0;
  }

  #contact button {
    margin-bottom: 15px;
  }

  #contact h6 {
    font-size: 25px;

    margin-bottom: 15px;
  }

  #contact p {
    font-size: 15px;

    margin-bottom: 15px !important;
  }

  #contact .p1 {
    margin-bottom: 15px !important;
  }

  #contact svg {
    margin-right: 10px;

    font-style: normal;
    margin-left: 0 px;

    /* line-height: 22px; */

    color: #ffffff;
    /* margin-bottom: 35px; */
  }

  #contact .social {
    margin-top: 0px;
  }
}

/*===================================== treding page=============================== */


.lightbackground .backbtn {
  margin: 76px 100px 40px 70px !important;
}

.lightbackground .line {
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin-block: 4px;
}

.lightbackground .backbtn span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 15px;
  color: #fff;
}

.lightbackground .contains .col-md-4 {
  margin-top: 100px;
}

.lightbackground .contains .background {
  background-image: url("../images/Rectangle 62.png");
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 15px;
  width: 80%;
  height: 440px;
  position: relative;
}

.cover {
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.432);
}

.lightbackground .contains img {
  margin-left: 40px;
}

.lightbackground .background:hover img {
  margin-left: 0px;
  /* margin-bottom: 5px; */
  transition: 1s;
}

.lightbackground .background:hover .seemore {
  top: 90%;
  opacity: 1;
}

.lightbackground .contains .contant {
  /* margin-left: 20px; */
  color: #ffffff;
}

.lightbackground .contains .seemore {
  margin-left: 50px;
  position: absolute;
  top: 100% !important;
  opacity: 0;
  /* display: flex; */

  /* color: #FFFFFF; */
}

.lightbackground .background:hover .seemore {
  top: 90% !important;
  transition: 1s;
}

.lightbackground .contains .contant .line {
  background-color: #fff;
  margin-block: 4px;
  margin-left: 4px;
}

.lightbackground .contains .contant p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  /* margin-top: 12px; */
  padding: 10px;
  /* width: 100%; */

  color: #ffffff;
}

/*===================================== clients page==================== */

.clients .one {
  width: 298px;
  height: 246px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .one img {
  margin: 0;
}
.clients .row {
  width: 95%;
  margin: auto;
}

.clients .col-md-3 {
  margin-top: 70px;
}

/* ===============================gallery page===================== */

.gallery h3,
.about h3,
.portofolio h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  color: #ffffff;
  text-align: center;
}

.gallery .redline,
.about .redline,
.portofolio .redline {
  width: 11%;
  height: 1px;
  background-color: #dc1c22;
  margin-left: 48%;
}

.gallery .whiteline,
.about .whiteline,
.portofolio .whiteline {
  width: 11%;
  height: 1px;
  background-color: #ffffff;
  margin-left: 40%;
  margin-top: 8px;
}

/* ============================about us================================================== */

.about .header {
  background-image: url("../images/diverse-businesspeople-having-meeting.png");
  height: 65vh;
  background-position: center center;
  background-size: 100% 100%;
}

.about .header .redbackground {
  background-color: #dc1c22;
  /* margin-left: 300px; */
  height: 90%;
  position: relative;
  top: -24px;
}

.about .header .redbackground h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  /* text-align: center; */
  margin-left: 70px;
  color: #ffffff;
  padding-top: 16px;
}

.about .header .redbackground .caption {
  background-color: #fff;
  position: relative;
  left: 70px;
  top: 20px;
}

.about .header .redbackground .caption p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  text-align: center;

  color: #000000;
  padding: 83px 35px;
}

.about .whychosse {
  margin-top: 120px;
}
.about .features {
  margin-top: 60px;
}
.about .features .one {
  background-color: #dc1c22;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 40px;
}

.about .features .one p {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
  margin-top: 15px;
}

.about .comprotofolio {
  position: relative;
  
padding-bottom: 50px;
}

.about .swiper {
  width: 100%;
  height: 100%;
  margin-top: 37px;
}

.about .swiper-slide img {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.about .swiper-slide {
  width: 60%;
  height: 100%;
}

.about .swiper-slide:nth-child(2n) {
  width: 60%;
  height: 100%;

  /* position: relative; */
  /* top: -10px; */
  /* transform: scale(1.5); */
}

.about .swiper-button-next {
  /* position: fixed; */
  position: absolute;
  width:10% !important;
  /* bottom: 20% !important; */
  top: 99% !important;

  left: 85%;
}
.about .swiper-button-prev {
  position: absolute;
  top: 99% !important;
  width: 10% !important;
  

  left: 5%;
}

.about .swiper-button-next,
.about .swiper-button-prev {
  /* background-color: red; */
  color: #fff;
}

.about .swiper-button-next:after,
.about .swiper-button-prev:after {
  font-size:0px !important;
  /* width: 30px;
  height: 2px ;
  background-color: #fff; */
}

.about .line{
  width: 60px !important;
  height: 1px !important;
  color: #fff !important;
  margin: 0 8px;
}

@media only screen and (max-width: 1440px) {
  .about .header {
    height: 65vh;
  }

  .about .header .redbackground {
 
    height: 90%;
    top: -24px;
  }

  .about .header .redbackground h2 {
    font-size: 35px;
    margin-left: 30px;
    padding-top: 16px;
  }

  .about .header .redbackground .caption {
    left: 40px;
    top: 20px;
  }

  .about .header .redbackground .caption p {
    font-size: 18px;
    line-height: 30px;
    padding: 52px 35px;
  }
}


/* ============================contactus page================== */

.contactUs .map{
  background-image: url('../images/Group 500.png');
  /* background-color: #b6070d; */
  background-position: center center;
  height: 50vh;
  background-size: 100% 100%;
  margin-top: 50px;
}
.contactUs .map .lookMap{
  background: #000000;
border-radius: 4px;
color: #fff;
width: 25%;
margin-top: 54px;
}
.contactUs .map .lookMap span{
  display: inline-block;
font-family: 'Montserrat-light';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
margin-left: 20px;
padding: 4px 0;

color: #FFFFFF;
}
.contactUs .map .contactMail{
background-color: #fff;
padding: 30px 40px;
position: relative;
top: -30px;
}

.contactUs .map .title {
display: flex;
}





.contactUs .map{
  padding:0px 50px;
}

.contactUs .map h5{
  
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
margin-left: 20px;
color: #FFFFFF;
position: relative;
top: 58%;
}

.contactUs .map .title .h3line{
  width: 100px !important;
  height: 1px !important ;
  background-color: #000000 !important;
  margin-block: 22px;
  margin-left: 10px;
}

.contactUs .map .contactMail input,textarea {
  border: none ;
  border-bottom: 0.5px solid #000000c2;
  padding-top:20px ;
  width: 100%;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

color: #000000;
margin-top: 40px;
opacity: 0.8;
  }

  .contactUs .map .contactMail input:focus   {
    outline: none;    
    }

    .contactUs .map .contactMail .image-upload img  {
      cursor: pointer;
      width: 120%;
      margin-top: 30px  ;
    }

    .contactUs .map .contactMail  input[type="file"] {
      display: none;
      /* background-image: url('../images/upload\ file.png'); */
  }

  .contactUs .map .contactMail  button {
    
    position: relative;
    left: 70%;
    top: -15px;
    background: #DC1C22;
border-radius: 4px 0px 0px 4px; 
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;
padding: 18px 30px;
border: none;

}

.contactUs .map .contactMail  button  .line{
  display: inline-block;
   width: 40px;
   height: 1px;
   background-color: #fff;

}

.contactUs .contactDetails{
  margin-top: 42px;
  margin-left: 65px;
}

.contactUs .contactDetails .col-1,.col-11{
  margin-bottom: 28px;
}

.contactUs .contactDetails p{
  font-family: 'Montserrat-light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  
  color: #FFFFFF;
  /* margin-block: -0px; */
  
}
.contactUs .contactDetails .follw{
  margin-top: 50px;
  margin-left: 120px;
}

.contactUs .contactDetails .follw h3{
  
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;
  /* margin-block: -0px; */
  
}
.contactUs .contactDetails .social{
  margin-top: 20px;
  margin-left: 120px;

}

.contactUs .contactDetails .social img{
  
 margin-left: 18px;
  
}

@media only screen and (max-width: 1440px) {

  .contactUs .map{
    height: 50vh;
    margin-top: 40px;
  }
  .contactUs .map .lookMap{
  width: 40%;
  margin-top: 54px;
  }
  
  .contactUs .map .contactMail{
  background-color: #fff;
  padding: 30px 40px;
  position: relative;
  top: -30px;
  }
  
  
  
  .contactUs .map{
    padding:0px 50px;
  }
  
  .contactUs .map h5{

  font-size: 35px;
  top: 35%;
  }

  .contactUs .map .title h3{
    font-size: 16px;
   
    }
  
  .contactUs .map .title .h3line{
   
    margin-block: 14px;
   
  }
  
  .contactUs .map .contactMail input,textarea {
    border: none ;
    border-bottom: 0.5px solid #000000c2;
    padding-top:16px ;
    width: 100%;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  
  color: #000000;
  margin-top: 20px;
  opacity: 0.8;
    }
  
    
  
     
  
 
    .contactUs .map .contactMail  button {
      
      position: relative;
      left: 60%;
      top: -15px;
      background: #DC1C22;
  border-radius: 4px 0px 0px 4px; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  
  color: #FFFFFF;
  padding: 18px 20px;
  border: none;
  
  }
  
  
  .contactUs .contactDetails{
    margin-top: 42px;
    margin-left: 65px;
  }
  
  .contactUs .contactDetails .col-1,.col-11{
    margin-bottom: 20px;
  }
  
  .contactUs .contactDetails p{
    
    font-size: 14px;
  
    
  }
  .contactUs .contactDetails .follw{
    margin-top: 70px;
    margin-left: 120px;
  }
  
  
  



}


/* ======================================servises page=========================== */

.servsies .servesView .col-md-6{
  margin-top: 60px;
}


.servsies .servesView img{
  width: 90%;
}

.servsies .servesView h4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 43px;

color: #FFFFFF;
margin: 10px 0;
}

.servsies .servesView p{
  font-family: 'Montserrat-light';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;
}


/* =====================portfolio page============== */

.portofolio .portView .nav-tabs {
  border: none;
  margin: auto !important;
  width: 90%;
}

.portofolio .portView .nav-link {
  border: none !important;
}



.portofolio .portView .nav-link {
  width: 25%;
  border: none !important;
  text-align: left !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0.4;
  list-style: circle;
}

.portofolio  #nav-tab .active {
  opacity: 1;

  background-color: transparent;
  /* margin: 50px; */
}

.portofolio .view {
  width: 90%;
  margin: 45px auto;
}

.portofolio .portView img {
  width: 95%;
}

.portofolio .contant{
  margin-left: 10%;
}

.portofolio .contant h3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 120px;
line-height: 146px;

color: #FFFFFF;
/* margin-left: 30%;   */
opacity: 0.2;
}

.portofolio .view h3 {

/* margin-left: 30%; */
text-align: right;

}

.portofolio .view2 h3 {
text-align: left;
  /* margin-left: 30%; */
  
  }



.portofolio .contant .p1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  
  color: #FFFFFF;
}

.portofolio .contant .p2 {
  font-family: 'Montserrat-light';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
width: 80%;
color: #ffffffcf;

}

.portofolio .contant .btns {
  /* margin-top: ; */
}

.portofolio .contant .btn1 {
  border: 1px solid #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
  background-color: transparent;
  padding: 14px 35px;
}

.portofolio .contant .btn2 {
  background-color: #fff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  padding: 14px 35px;
}
